footer {
    background-color: rgba(131, 51, 138, 1);
    width: 100%;
    font-size: .9em;
    font-weight: 200;
    text-align: center;
    padding: 4px;
    /* position: fixed; */
    left:0px;    
    bottom: 0;
}

footer p {
    padding-top: 1%;
    color: white;
}

@media (min-width: 900px) {

    footer {
        max-width: 100%;
        text-align: center;
    }
}