.cat-div {
    border:0;
    position: relative;
}

.catPhoto:hover {
    opacity: 0.6;
}

.catPhoto {
    transition: all 0.3s linear;
}

.cat-div h4 {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: #fdc5f5;;
    padding: 15px 0;
    color: black;
    font-weight: 300;
    width: 60%;
    text-align: center;
    margin-left: 20%;
}

.cat-div:hover img {
    filter:grayscale(0.8);
}


.cat-div:hover h4 {
    transform: translateY(-300%);
    position: absolute;
    opacity: 1;
    border: 1px solid white;
}

h4:hover {
    font-weight: 500;
}


@media (max-width: 900px) {
    
    .catPhoto {
       margin-left: 20%;
    }

    .cat-div h4 {
       width: 40%;
       margin-left: 25%;
    }
}

@media (max-width: 680px) {
    
    .catPhoto {
       margin-left: 5%;
    }
    .cat-div h4 {
       margin-left: 30%;
    }
}