.donation h1 {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 40px;
}

.donation h2 {
    padding-top: '40px';
}

.donation h3 {
    font-size: 2em;
    font-weight: 200;
    text-indent: 40px;
    text-align: center;
    padding-left: 16%;
    padding-bottom: 40px;
    width: 85%;
}

 .donation p {
    font-size: 2em;
    font-weight: 200;
    text-indent: 40px;
    text-align: center;
    padding-bottom: 40px;
    width: 85%;
    padding-left: 16%;
} 

.donation article {
    line-height: 50px;
    text-align: center;
} 

.donation img {
    height: 180px;
    object-fit: cover;
    margin-left: 30%;
    margin-bottom: 40px;
    display: block;
}

.linkDonation {
    letter-spacing: 1px;
    border: 1px transparent;
    font-weight: 100;
    display: block;
    text-align: center;
    padding: 20px 0;
    width: 220px;
          
}

@media (max--width: 900px) {
    .donation h1 {
        font-size: 3em;
        padding-left: 0%;
    }

    .donation p {
        font-size: 1.5em;
    }

    .donation img {
        height: 120px;
        margin-left: 20%;
    }

    .linkDonation {
        margin-left: 30%;
    }
}

@media (max--width: 680px) {
    .donation h1 {
        font-size: 3em;
        padding-left: 0%;
    }

    .donation img {
        height: 120px;
    }

    .linkDonation {
        margin-left: 100%;
    }
}

