.formulary label {
    padding-right: 15px;
    font-size: 1.5em;
}

.formulary input {
    font-size: 1.5em;
}

.formulary select {
    margin-bottom: 45px;
}

.formulary button {
    margin-right: 30px;
    padding: 25px;
    font-size: 1.6em;
    font-weight: 200;
    color: #ffffff;
    background-color:  rgba(131, 51, 138, 1);
    border:  rgba(131, 51, 138, 1);
    transition: 0.2s;
}

.formulary button:hover {
    opacity: 0.8;
}